@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100&display=swap');

*{
    font-family: 'Fredoka One', cursive, 'poppins',sans-serif;
}
a{
    text-decoration: none;
}
body{
    position: relative;
    background: transparent;
    margin: 0px;
}

body::before{
    content: "";
    position: fixed;
    background: #040404 url(../assets/img/bg.jpg) top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

.contenedorPokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bootPoke img, .topPoke img {
  width: 515px; 
  max-width: 100%; 
  max-height: 100%; 
  position: relative;
  z-index: 3;
}

.centroBgColor {
    display: flex;
    background-color:rgba(155, 248, 255, 0.8);
    width: 515px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.circulo{
    width: 200px;
    height: 200px;
    background-color:rgba(113, 248, 246, 0.6);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

#pokemonList{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

.cardPokemons{
    width: 150px;
    height: 100px;
    background: #3AB4F2;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center ;
    color:  white;
    cursor: pointer;
    transition: transform.2s ;
}

.cardPokemons img{
    width: 100px;
    padding-left: 10px;
    padding-bottom: 11px;
}

.cardPokemons:hover{
    box-shadow: 0 12px 16px 0 RGB(0,0,0,0.24);
    transition: 0.5s;
    outline: 2px solid #F7EC09;
    transform: scale(1.2);
    margin: 0px 10px 0px 10px;
}

.cardPokemons img:hover {
    animation: bouncel .5s alternate infinite ease-in;
    padding-bottom: 15px;
    padding-top: 15px;
}

.cardPokemons p{
    padding-top: 77px;
    padding-right: 15px;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
    overflow: auto;
  }
  
 
  .modal-content {
    background-color: #3AB4F2;
    margin: 10% auto; 
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
.left-modal {
    color: aliceblue;
    font-size: 20px !important ;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.left-modal h6 {
    margin: 1px;
    text-align: center;
}

.right-modal{
    display: flex;
    flex-direction: column;
}

.right-modal div{
    border-bottom: 2px solid #ffffff;
    border-bottom-left-radius: 10px;
}
.rModal-idPokemon{
    color: aliceblue;
    display: flex;
    align-items: center;
    line-height: 10px ;
}
.rModal-idPokemon h3{
    padding-left: 45px;
    margin: 1px;
    line-height: 25px
}
  .modal-content img {
    width: 150px;
    height: auto;
  }
  
  
  .modal-content p {
    margin: 0;
    font-size: 18px;
  }

#btnInicio{
    background: transparent;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: none;
    animation: bounce 0.5s infinite alternate;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#btnInicio:hover{
    cursor: pointer;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes moveUp {
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
@keyframes moveDown {
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bouncel{
    0%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}